.redes {
  background-color: #d11414;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  margin-top: 50px;
}
.icon-redes {
  margin: 0px 10px;
}
